<div class="navbar-custom">
  <div class="container-fluid">
    <div id="navigation">
      <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li class="has-submenu"><a href="#"><i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span></a></li>
          <li class="has-submenu"><a href="#"><i class="mdi mdi-projector"></i> <span> Projects </span> </a></li>
          <li class="has-submenu"><a href="#"><i class="mdi mdi-account-multiple-outline"></i><span> Teams </span> </a></li>
          <li class="has-submenu"><a href="#"><i class="mdi mdi-alpha-c-circle"></i> <span> Clients </span> </a></li>
          <li class="has-submenu"><a href="#"><i class="mdi mdi-timer"></i><span> Log Work </span> </a></li>
          <li class="has-submenu"><a href="#"><i class="mdi mdi-layers"></i> <span> Timesheet </span> </a></li>
          <li class="has-submenu"><a href="#"><i class="mdi mdi-file-export"></i><span> Reports </span> </a></li>
          <li class="has-submenu"><a href="#"><i class="mdi mdi-content-cut"></i><span> Absences </span> </a></li>
        </ul>
        <!-- End navigation menu -->
      </div> <!-- end #navigation -->
  </div> <!-- end container -->
</div> <!-- end navbar-custom -->