<div class="card-box">
  <div class="dropdown pull-right">
    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
      <i class="mdi mdi-dots-vertical"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <!-- item-->
      <a (click)="openModel()" class="dropdown-item">Add Skill</a>
      <!-- item-->
      <a href="javascript:void(0);" class="dropdown-item">Another action</a>
      <!-- item-->
      <a href="javascript:void(0);" class="dropdown-item">Something else</a>
      <!-- item-->
      <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
    </div>
  </div>
  <h4 class="header-title m-t-0 m-b-30">My Skills</h4>
  <div *ngIf="currentUser.data.user_skills.length > 0; else noSkills;">
    <div *ngFor="let user_skill of currentUser.data.user_skills">
      <p class="font-30 m-b-5">
        {{user_skill.skill.name}}
        <span class="mb-1"><em>({{user_skill.years}} years, {{user_skill.months}} months)</em></span>
        <span class="text-primary pull-right">{{user_skill.level.name}}</span>
      </p>
      <hr>
    </div>
  </div>
  <ng-template #noSkills>
    <div class="text-center">
      <p>No Skills Added</p>
      <a class="btn btn-primary" (click)="openModel()">Add Skills</a>
    </div>
  </ng-template>
</div>