<app-layout></app-layout>
<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-20">
          <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings </button>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Edit</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Deactivate</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item text-danger">Delete</a>
          </div>
        </div>
        <h4 class="page-title">Profile</h4>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
      <div class="col-sm-8">
        <app-user-card></app-user-card>
        <!--/ meta -->
        <div class="row">
          <div class="col-xl-6">
            <app-qualifications></app-qualifications>
          </div><!-- end col -->
          <div class="col-xl-6">
            <app-experiences></app-experiences>
          </div><!-- end col -->          
        </div>
        <div class="card-box">
          <div class="comment">
            <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
            <div class="comment-body">
              <div class="comment-text">
                <div class="comment-header">
                  <a href="#" title="">Adam Jansen</a><span>about 2 minuts ago</span>
                </div>
                Story based around the idea of time lapse, animation to post soon!
                <div class="m-t-15">
                  <a href=""><img src="assets/images/small/img1.jpg" class="thumb-md"></a>
                  <a href=""><img src="assets/images/small/img2.jpg" class="thumb-md"></a>
                  <a href=""><img src="assets/images/small/img3.jpg" class="thumb-md"></a>
                </div>
              </div>
              <div class="comment-footer">
                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                <a href="#">Reply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <app-details-card></app-details-card>
        <!-- Add More cards here -->
        <app-skills-card></app-skills-card>
      </div>
    </div>
  </div> <!-- end container -->
  <!-- Right Sidebar -->
  <app-sidebar></app-sidebar>
</div>
<!-- end wrapper -->
<app-footer></app-footer>