<app-layout></app-layout>
<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-20">
          <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings </button>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
          </div>
        </div>
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <app-box-cards [cardObject]="taskBox"></app-box-cards>
      </div>
      <div class="col-xl-3 col-md-6">
        <app-box-cards [cardObject]="todoBox"></app-box-cards>
      </div><!-- end col -->
      <div class="col-xl-3 col-md-6">
        <app-box-cards [cardObject]="walletBox"></app-box-cards>
      </div><!-- end col -->
      <div class="col-xl-3 col-md-6">
        <app-box-cards [cardObject]="pendingBox"></app-box-cards>  
      </div><!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-xl-4">
        <app-list-card [listObject]="dailyTaskLists" [titleObject]="dailyTaskTitle"></app-list-card>
      </div><!-- end col -->
      <div class="col-xl-4">
        <app-list-card [listObject]="todoLists" [titleObject]="todoListTitle"></app-list-card>
      </div><!-- end col -->
      <div class="col-xl-4">
          <app-list-card [listObject]="schedulesList" [titleObject]="scheduleTitle"></app-list-card>
      </div><!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <app-info-cards [infoCardObject]="infoCard"></app-info-cards>
      </div><!-- end col -->
      <div class="col-xl-3 col-md-6">
        <app-info-cards [infoCardObject]="infoCard2"></app-info-cards>
      </div><!-- end col -->
      <div class="col-xl-3 col-md-6">
        <app-info-cards [infoCardObject]="infoCard3"></app-info-cards>  
      </div><!-- end col -->
      <div class="col-xl-3 col-md-6">
        <app-info-cards [infoCardObject]="infoCard4"></app-info-cards>
      </div><!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-xl-4">
        <app-list-card [listObject]="reminderList" [titleObject]="reminderTitle"></app-list-card>
      </div><!-- end col -->
      <div class="col-xl-8">
        <app-project-list></app-project-list>
      </div><!-- end col -->
    </div>
    <!-- end row -->
  </div> <!-- end container -->
  <!-- Right Sidebar -->
  <app-sidebar></app-sidebar>
</div>
<!-- end wrapper -->
<app-footer></app-footer>