<div class="text-center card-box">
  <div class="dropdown pull-right">
    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
      <i class="mdi mdi-dots-vertical"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item">Action</a>
    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
    <!-- item-->
    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
  </div>
  </div>
  <div>
    <img src="{{profile_image}}" class="rounded-circle thumb-xl img-thumbnail m-b-10" alt="profile-image">
    <div class="text-left">
      <address>
          <span class="text-muted m-b-20">First Name</span>
          <p>{{ currentUser.data.first_name }}</p>
      </address>
      <address>
        <span class="text-muted m-b-20">Middle Name</span>
        <p>{{ currentUser.data.middle_name }}</p>
      </address>
      <address>
        <span class="text-muted m-b-20">Last Name</span>
        <p>{{ currentUser.data.last_name }}</p>
      </address>
      <address>
        <span class="text-muted m-b-20">Email</span>
        <p>{{ currentUser.data.email }}</p>
      </address>
      <address *ngIf="currentUser.data.work_email">
        <span class="text-muted m-b-20">Official Email</span>
        <p>{{ currentUser.data.work_email }}</p>
      </address>
      <address *ngIf="currentUser.data.address">
        <span class="text-muted m-b-20">Address</span>
        <p>{{ currentUser.data.address }}, {{ currentUser.data.city }}, {{ currentUser.data.state }}, {{ currentUser.data.country }}</p>
      </address>
      <address *ngIf="currentUser.data.contact_no">
        <span class="text-muted m-b-20">Contact No</span>
        <p>{{ currentUser.data.contact_no }}</p>
      </address>  
    </div>
  </div>
</div>